@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fade-in-out 4s ease-in-out infinite;
}

body {
  font-family: 'Roboto', sans-serif;
}

@layer base {
  :root {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 210 95% 55%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 14%;
    --muted-foreground: 0 0% 65%;
    --accent: 210 95% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 210 95% 55%;
    --chart-3: 24.6 95% 63.1%;
    --chart-4: 210 95% 65%;
    --chart-5: 240 3.7% 35.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 24.6 95% 53.1%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 210 95% 55%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 14%;
    --muted-foreground: 0 0% 65%;
    --accent: 210 95% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 210 95% 55%;
    --chart-3: 24.6 95% 63.1%;
    --chart-4: 210 95% 65%;
    --chart-5: 240 3.7% 35.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
