@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

@layer base {
  :root {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 217.2 91.2% 59.8%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 14%;
    --muted-foreground: 0 0% 65%;
    --accent: 217.2 91.2% 59.8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 217.2 91.2% 59.8%;
    --chart-3: 24.6 95% 63.1%;
    --chart-4: 217.2 91.2% 69.8%;
    --chart-5: 240 3.7% 35.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 24.6 95% 53.1%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 217.2 91.2% 59.8%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 14%;
    --muted-foreground: 0 0% 65%;
    --accent: 217.2 91.2% 59.8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 24.6 95% 53.1%;
    --chart-2: 217.2 91.2% 59.8%;
    --chart-3: 24.6 95% 63.1%;
    --chart-4: 217.2 91.2% 69.8%;
    --chart-5: 240 3.7% 35.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
